.docsContainer {
  .writeDocs {
    width: 100%;
    text-align: right;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}